<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
</head>

<body>
    <h1>API - USER</h1>
    <p>Este presente trabalho apresenta rotas para as funções:</p>
    <p>CreateUser, findUsers, deleteUser, updateUser, authenticatedUser</p>
    <p>Foram cadastrados alguns usuários para teste.</p>
    <p>EndPoint(rotas) - Foram usadas para acessar a função.</p>
</body>



<style>
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FAEBD7;
    text-align: center;
}
</style>

</html>